/* BEGIN RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END RESET */

:root {
  --fs-body: 1.125rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-l: 2rem;
  --fs-heading-xl: 4.5rem;

  --col-main-bg: #ecf2ff;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--fs-body);
  background-color: var(--col-main-bg);
}
